<<<<<<< HEAD
=======
/* padding syntax:
  padding: top right bottom left;
*/

header {
  padding: 35px 0 30px 0;
}

nav {
  padding-top: 10px;
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  max-width: 800px;
  margin: auto;
  padding: 0 10px 40px 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  line-height: 1.5;
  color: #AAA;
  background-color: #151515;
}

code {
  display: block;
  color: #58ACFA;
  border: 1px solid;
  padding: 5px 10px 5px 10px;

  /* wrap long text and urls */
  #white-space: pre; /* CSS 2.0 */
  #white-space: pre-wrap; /* CSS 2.1 */
  #white-space: pre-line; /* CSS 3.0 */
  #white-space: -pre-wrap; /* Opera 4-6 */
  #white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* Mozilla */
  word-wrap: break-word; /* IE 5+ */
}

footer {
  bottom: 0;
  font-size: 12px;
  text-align: center;
  padding: 60px 0 10px 0;
  position: relative;
}

.header_logo {
  display: flex;
  box-sizing: inherit;
}

.header_logo::after {
  content: "";
  width: 100%;
  flex-shrink: 1;
  background: repeating-linear-gradient(90deg,#58ACFA,#58ACFA 2px,transparent 0,transparent 10px);
}

.logo {
  display: block;
  width: auto;
  flex-shrink: 0;
  background-color: #58ACFA;
}

.logo_text {
  font-size: 25px;
  padding: 0 14px 0 14px;
  color: #000000;
}

.navbar a {
  text-align: center;
  padding-right: 5px;
}

#hl {
  color: #58ACFA;
  text-decoration: none;
}

.topic {
  font-size: 20px;
  font-weight: bold;
}

.portrait {
  float: left;
  padding: 0 20px 20px 0;
}

>>>>>>> ef624b7e01f3c1fb5a8dbc0af5925486bd9ac86a
/*
Markdown blog
*/

.markdown {
  max-width: 800px;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    text-align: left;
<<<<<<< HEAD
}
=======
}

.markdown a {
  color: #58ACFA;
  text-decoration: none;
}
>>>>>>> ef624b7e01f3c1fb5a8dbc0af5925486bd9ac86a
